{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-top: 2em;">
    <h2 class="text-danger banner">Contact Info</h2>
    <hr style="border-width: 0.1em; margin-left: 25em; margin-right: 25em; background-color: #FFD700;">
    <div class="container">
        <p class="text-light" style="text-indent: 3em; margin-left: 10em; margin-right: 10em;">
            The best way to reach me currently is through my school email address. Alternatively you can send me a 
            message on <a href="https://www.linkedin.com/in/joseph-dicioccio/">LinkedIn</a>. I do respond to most phone
            calls, but if I am unavailable for any reason, please send me a text message. Below are my primary email
            address, phone number and address.
        </p>
        <br>
        <br>
        <h5 class="text-primary">Email: 
            <span class="text-light"> joseph.dicioccio@uconn.edu </span>
        </h5>
        <br>
        <h5 class="text-primary">Cell Phone: 
            <span class="text-light">860 - 952 - 4418</span>
        </h5>
        <br>
        <h5 class="text-primary">Address: 
            <span class="text-light">20 Timber Trail, Wethersfield, CT</span>
        </h5>
        <br>
        <br>
        <h2 class="text-info" style="text-align: center;"><a href="{% url 'main:home'%}">Back To Homepage</a></h2>
    </div>
</div>

{% endblock %}