{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<!-- Homepage Content -->
<div class="banner bg-dark">
    <img class="portrait" src="{% static 'images/portrait.jpg' %}" alt="Portrait Image Not Found">

    <h3 class="text-white">Joseph DiCioccio</h3>

    <p class="text-light">
        My name is Joe, I am currently a student at the University of Connecticut studying Computer Science.
    </p>

    <div style="padding-bottom: 2em;">
        <a href="https://github.com/diciocciojoseph" class="badge badge-pill badge-success mybadge">GITHUB</a>
        <a href="google.com" class="badge badge-pill badge-info mybadge">LINKEDIN</a>
        <a href="google.com" class="badge badge-pill badge-info mybadge">CONTACT INFO</a>
    </div>
</div>

<!-- We only need a single card display here in conjunction with class-based-view context to show all model content -->
<!-- No matter how many new cards I want to add on the website, this code will not change, good for scalability -->
<div class="container">
    <hr class="bg-dark" style="border-width: 0.5em;">

    <div class="card-columns">
        {% for content in content_list %}
        <div class="card bg-dark" style="width: 18rem;">
            <img class="card-img-top" src="{% static "" %}images/{{content.image_path}}" alt="Image Not Found">
            <div class="card-body">
                <h5 class="card-title text-white">{{ content.title }}</h5>
                <p class="card-text text-light">{{ content.description }}</p>
                <a href="{{ content.link }}" class="btn btn-info stretched-link">{{ content.link_text }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr class="bg-dark" style="border-width: 0.5em;">

    <div>
        <h2 style="text-align: center;">My Projects</h2>
    </div>

    <hr class="bg-dark" style="border-width: 0.5em;">

    <div class="row">
        <div class="col">
            <h3>Python 8-Puzzle Solver</h3>
            <p class="text-dark" style="text-indent: 2em; font-size: 1.3em;">
                One of my class assignments was to solve the 8-puzzle using the least number of moves.
                For more info on the 8-puzzle see the <a href="">Wiki</a>. To accomplish this, I employed Breadth-First
                Search on a graph of all possible puzzle moves. For more details see the
                <a href="https://github.com/diciocciojoseph">Code</a> on my github. In the future I will revisit this
                problem with the
                different approaches.
            </p>
        </div>
        <div class="col">
            <img src="{% static 'images/puzzle.png' %}" alt="Puzzle Image Not Found">
        </div>
    </div>

    <hr class="bg-dark" style="border-width: 0.5em;">

</div>



{% endblock %}