.card{
    margin: 1em;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.banner{
    text-align: center;
}

.portrait{
    margin: 2em;
    padding: 1em;
    border-radius: 100%;
    width: 20vw;
    height: 20vw;
    border: 5px solid gray;
}

.mybadge{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.1em;
}

.vl{
    border-left: 0.1em solid gray;
}

.proj-head{
    color: #805ad5;
}